* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.titulo_i h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(105, 0, 119);
}
.header_i {
    background-color: gray;
    padding-bottom:100px ;
    margin-bottom: 150px;
}

.header_i h1{
    float: left;
    margin-top: 30px;
    margin-left: 900px;
}

.aves_i img{
    width: 300px;
    height: auto;
    margin-left: 0px;
    position: relative;
    margin-top: 0px;
}

.aves_i p{
    margin-left: 100px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_aves_i {
    border: 3px solid rgb(63, 63, 63);
    border-style: solid;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 1300px;
    background-color: rgb(102, 102, 102);
    box-shadow: -15px 15px 10px rgb(0, 0, 0); 
    border-radius: 0px 20px 0px 0px;
    margin-top: -60px;
}

.esquadrao img{
    width: 250px;
    height: auto;
}

.esquadrao_i p{
    margin-left: 70px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_esquadrao_i {
    border: 3px solid rgb(63, 63, 63);
    border-style: solid;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 1300px;
    margin-right: 300px;
    background-color: rgb(102, 102, 102);
    margin-top: -445px;
    padding-left: 20px;
    box-shadow: -15px 15px 10px rgb(0, 0, 0); 
    border-radius: 0px 20px 0px 0px;
}

.mundo img{
    width: 250px;
    height: auto;
}

.mundo_i p{
    margin-left: 60px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_mundo_i {
    border: 3px solid rgb(63, 63, 63);
    border-style: solid;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 800px;
    margin-right: 800px;
    background-color: rgb(102, 102, 102);
    margin-top: -445px;
    padding-left: 20px;
    box-shadow: -15px 15px 10px rgb(0, 0, 0); 
    border-radius: 0px 20px 0px 0px;
}

.filmeflix{
    font-size: 40px;
    padding-left: 750px;
}

.pequeno{
    width: 50%;
    display: block;
    font-size: 20px;
    float: center;
    margin-left: 350px;
    margin-top: -140px;
}

.arriet{
    width: 325px;
    /* float: left; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-style: solid;
    background-color: rgb(102, 102, 102);
    box-shadow: -20px 15px 30px rgb(0, 0, 0); 
    border-radius: 0px 20px 0px 0px;
    margin-left: 15px;
    display: inline-block;
}

.aves_d{
    width: 325px;
    /* float: left; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-style: solid;
    background-color: rgb(102, 102, 102);
    box-shadow: -20px 15px 30px rgb(0, 0, 0); 
    border-radius: 0px 20px 0px 0px;
    margin-left: 15px;
    display: inline-block;
    margin-top: 0px;
}

.linha{
    width: 100%;
    clear: both;
    padding-bottom: 100px;
    display:block;
}

.linha img{
    display: block;
}

.squad{
    padding-left: 0px;
    font-size: 20px;
    width: 50%;
    display: block;
    float: center;
    margin-left: 350px;
    margin-top: -340px;
}

.rapina{
    padding-left: 0px;
    font-size: 20px;
    width: 50%;
    display: block;
    float: center;
    margin-left: 350px;
    margin-top: -340px;
}

.footer_i{
    background-color: gray;
    margin-top: 132px;
    padding-bottom: 169px;
    text-align: center;
}

.texto{
    padding-top: 390px;
    border: 3px solid rgb(63, 63, 63);
    box-shadow: -15px 15px 10px rgb(0, 0, 0); 
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 10px;
}

<<<<<<< HEAD
.texto2{
    padding-top: 300px;
    text-align: center;
}

.tiulo2 h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(105, 0, 119)
    
=======
.login{
    z-index: 50;
    float: left;
    margin-left: -800px;
}
.login a{
    text-decoration: none;
    color: black;
}

.index_link{
    z-index: 50;
    float: left;
    margin-left: -800px;
}

.index_link a{
    text-decoration: none;
    color: black;
}

.login_link{
    float: left;
    margin-left: -695px;
}

.login_link a{
    text-decoration: none;
    color: black;
}

.registro_login{
    border: 3px solid black;
    background-color: rgb(63, 63, 63);
    margin-left: 38%;
    margin-right: 38%;
    margin-top: -50px;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 80px;
}

.borda_cadastro{
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(63, 63, 63);
    margin-left: 39%;
    margin-right: 37%;
    margin-top: -90px;
    text-align: justify;
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 50px;
}

.txtnome{
    font-size: 1.5em;
    padding-top: 15px;
}

.txtnome input{
    padding-right: 210px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black solid 3px;
    border-radius: 3px;
    font-size: 16px;
}

.txtusuario{
    font-size: 1.5em;
    padding-top: 25px;
}

.txtusuario input{
    padding-right: 208px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black solid 3px;
    border-radius: 3px;
    font-size: 16px;
}

.txtemail{
    font-size: 1.5em;
    padding-top: 25px;
}

.txtemail input{
    padding-right: 208px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black solid 3px;
    border-radius: 3px;
    font-size: 16px;
}

.txtsenha{
    font-size: 1.5em;
    padding-top: 25px;
}

.txtsenha input{
    padding-right: 208px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black solid 3px;
    border-radius: 3px;
    font-size: 16px;
}

.button_cadastro button{
    float: center;
    padding-left: 177px;
    padding-right: 177px;
    text-align: center;
    font-size: 18px;
    background-color: rgb(0, 131, 0);
    border: solid 3px rgb(0, 65, 0);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
>>>>>>> b8dc40e71c66661827bc672391665c76aaa27de0
}