* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.titulo_i h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(143, 0, 0);
}

.aves_i img{
    width: 300px;
    height: auto;
    margin-left: 0px;
    position: relative;
    margin-top: 0px;
}

.aves_i p{
    margin-left: 100px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_aves_i {
    border: 5px solid rgb(151, 151, 151);
    border-style: inset;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 1300px;
    background-color: rgb(102, 102, 102);
}

.esquadrao img{
    width: 250px;
    height: auto;
}

.esquadrao_i p{
    margin-left: 70px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_esquadrao_i {
    border: 5px solid rgb(151, 151, 151);
    border-style: inset;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 1300px;
    margin-right: 300px;
    background-color: rgb(102, 102, 102);
    margin-top: -445px;
    padding-left: 20px;
}

.mundo img{
    width: 250px;
    height: auto;
}

.mundo_i p{
    margin-left: 60px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_mundo_i {
    border: 5px solid rgb(151, 151, 151);
    border-style: inset;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 800px;
    margin-right: 800px;
    background-color: rgb(102, 102, 102);
    margin-top: -445px;
    padding-left: 20px;
}

.filmeflix{
    font-size: 40px;
    padding-left: 750px;
}

.pequeno{
    padding-left: 330px;
    font-size: 20px;
}

.arriet{
    width: 200px;
    float: left;
}

.linha{
    width: 100%;
    clear: both;
}

.squad{
    padding-left: 330px;
    font-size: 20px;
    
}

.rapina{
    padding-left: 330px;
    font-size: 20px;
}