* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.titulo_i h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(143, 0, 0);
}

.header_i {
    background-color: gray;
    padding-bottom:100px ;
    margin-bottom: 150px;
}

.header_i h1{
    float: left;
    margin-top: 30px;
    margin-left: 900px;
}

.aves_i img{
    width: 300px;
    height: auto;
    margin-left: 0px;
    position: relative;
    margin-top: 0px;
}

.aves_i p{
    margin-left: 100px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_aves_i {
    border: 3px solid rgb(63, 63, 63);
    border-style: solid;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 1300px;
    background-color: rgb(102, 102, 102);
    box-shadow: -15px 15px 10px rgb(0, 0, 0); 
}

.esquadrao img{
    width: 250px;
    height: auto;
}

.esquadrao_i p{
    margin-left: 70px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_esquadrao_i {
    border: 3px solid rgb(63, 63, 63);
    border-style: solid;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 1300px;
    margin-right: 300px;
    background-color: rgb(102, 102, 102);
    margin-top: -445px;
    padding-left: 20px;
    box-shadow: -15px 15px 10px rgb(0, 0, 0); 
}

.mundo img{
    width: 250px;
    height: auto;
}

.mundo_i p{
    margin-left: 60px;
    position: relative;
    color: rgb(255, 255, 255);
}

.border_mundo_i {
    border: 3px solid rgb(63, 63, 63);
    border-style: solid;
    margin-right: 0px;
    padding-bottom: 10px;
    margin-left: 800px;
    margin-right: 800px;
    background-color: rgb(102, 102, 102);
    margin-top: -445px;
    padding-left: 20px;
    box-shadow: -15px 15px 10px rgb(0, 0, 0); 
}

.filmeflix{
    font-size: 40px;
    padding-left: 750px;
}

.pequeno{
    padding-left: 330px;
    font-size: 20px;
}

.arriet{
    width: 200px;
    float: left;
}

.linha{
    width: 100%;
    clear: both;
}

.squad{
    padding-left: 330px;
    font-size: 20px;
    
}

.rapina{
    padding-left: 330px;
    font-size: 20px;
}

.footer_i{
    background-color: gray;
    padding-top: 80px;
    margin-top: 161px;
    text-align: center;
}